<%-include("head")%>

<body>
    <%-include("sidebar-owner")%>
    <%-include("main-content-top")%>
    <div class="container">
        <h1>เพิ่มรายชื่อแพทย์</h1>
        <form action="/add-staff" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <Label from="username">ชื่อผู้ใช้</Label>
                    <input class="form-control" id="username" type="text" name="username" placeholder="ชื่อผู้ใช้"><br>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">รหัสผ่าน</label>
                    <input class="form-control" type="text" name="password" placeholder="รหัสผ่าน"><br>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="prename">คำนำหน้า</label>
                    <select class="form-control" id="prename" name="prename">
                        <option value="นายแพทย์">นายแพทย์</option>
                        <option value="แพทย์หญิง">แพทย์หญิง</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="f_name">ชื่อจริง</label>
                    <input class="form-control" id="f_name" type="text" name="firstname" placeholder="กรอกชื่อจริง">
                </div>
                <div class="form-group col-md-4">
                    <label for="l_name">นามสกุล</label>
                    <input class="form-control" id="l_name" type="text" name="lastname" placeholder="กรอกนามสกุล"><br>
                </div>
                <div class="form-group col-md-2">
                    <label for="gender">เพศ</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="male">ชาย</option>
                        <option value="female">หญิง</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="contact">หมายเลขติดต่อ</label>
                    <input class="form-control" id="contact" type="text" name="contact" placeholder="062xxxxxxx">
                </div>
                <div class="form-group col-md-5">
                    <label for="specialty">ความเชี่ยวชาญ</label>
                    <select class="form-control" id="specialty" name="specialty">
                        <% data.forEach((item) => { %>
                            <option value="<%= item.specialty_id %>">
                                <%= item.name %>
                            </option>
                        <% }); %>
                    </select>
                    <br>         
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="เพิ่มข้อมูล">
            <a class="btn text-white bg-danger" href="/manage-staff">ยกเลิก</a>
        </form>
    </div>

    <%-include("main-content-bottom")%>
    <%-include("script-toggle-sidebar")%>
</body>
</html>