<%-include("head")%>
<%-include("sidebar-owner")%>
<%-include("main-content-top")%>
<style>
    .form{
        width: 400px;
        height: 650px;
        font-size: 18px;
        border: solid 2px black;
        border-radius: 2%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
    }
</style>
    <body>
        <!-- ฟอร์มเพิ่ม Service -->
        <main class="p-3">
            <div class="container-fluid">
                <div class="container">
                    <h1>เพิ่มบริการ</h1>
                    <form action="/add-service" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="serviceID">รหัส</label>
                                <input type="text" id="service_id" name="serviceID" required class="form-control" placeholder="รหัส">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceName">ชื่อบริการ</label>
                                <input type="text" id="name" name="serviceName" required class="form-control" placeholder="ชื่อบริการ">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="serviceCategory">ประเภท</label>
                                <select name="serviceCategory" id="category_id" required class="form-control">
                                    <option value="1">ตรวจสุขภาพทั่วไป</option>
                                    <option value="2">ทันตกรรม</option>
                                    <option value="3">ฉีดวัคซีน</option>
                                    <option value="4">ศัลยกรรม</option>
                                    <option value="5">บริการสูติศาสตร์</option>
                                </select><br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="Price">ราคา</label>
                                <input type="text" id="price" name="price" required class="form-control" placeholder="ราคา">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceDuration">ระยะเวลา</label>
                                <input type="text" id="service_name" name="serviceDuration" required class="form-control" placeholder="ระยะเวลา">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="serviceonlydoctor">เฉพาะแพทย์เท่านั้น</label>
                                <select name="serviceonlydoctor" id="serviceonlydoctor" required class="form-control">
                                    <option value="No">🔴 ไม่ใช่</option>
                                    <option value="Yes">🟢 ใช่</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceStatus">สถานะ</label>
                                <select name="serviceStatus" id="service_status" required class="form-control">
                                    <option value="Inactive">🔴 ปิดให้บริการ</option>
                                    <option value="Active">🟢 เปิดให้บริการ</option>
                                </select><br>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">ยืนยัน</button>
                        <a class="btn text-white bg-danger" href="/showservices">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </main>
        <%-include("main-content-bottom")%>
        <%-include("script-toggle-sidebar")%>
    </body>
</html>