<%- include("head") %>

    <!-- <body style="background-image: url('/public/Fuji.jpg');"> -->
        <% if(user.usertype == "doctor"){ %>
            <%-include("sidebar-doctor")%>
        <% }else { %>
            <%-include("sidebar-owner")%>
        <% } %>
            <%-include("main-content-top")%>
                <div class="container mt-4">
                    <h1 class="mb-3">Table Of Subtasks</h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>SubtaskNumber</th>
                                    <th>RoomID</th>
                                    <th>DoctorID</th>
                                    <th>ServiceID</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((item)=> { %>
                                    <tr>
                                        <td>
                                            <%= item.task_id %>
                                        </td>
                                        <td>
                                            <%= item.subtask_no %>
                                        </td>
                                        <td>
                                            <%= item.room_id %>
                                        </td>
                                        <td>
                                            <%= item.doctor_id %>
                                        </td>
                                        <td>
                                            <%= item.service_id %>
                                        </td>
                                        <td>
                                            <%= item.start_datetime %>
                                        </td>
                                        <td>
                                            <%= item.end_datetime %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <%-include("main-content-bottom")%>
                    <%-include("script-toggle-sidebar")%>
    </body>

    </html>