<%-include("head")%>
<%-include("sidebar-owner")%>
<%-include("main-content-top")%>

        <body>
            <!-- ฟอร์มเพิ่ม Service -->
        <main class="p-3">
            <div class="container-fluid">
                <div class="container">
                    <h1>แก้ไขบริการ</h1>
                    <form action="/edit-service" method="post">

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="serviceID">รหัส</label>
                                <input type="text" id="id" class="form-control txtbox" value="<%= data.service_id%>" readonly placeholder="id"
                                name="id">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceName">ชื่อบริการ</label>
                                <input type="text" id="name" class="form-control txtbox" value="<%= data.name%>" readonly placeholder="name"
                                name="serviceName">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="serviceCategory">ประเภท</label>
                                <select id="category" class="form-control txtbox" readonly placeholder="category" name="serviceCategory">
                                    <option value="<%= data.category_id%>">
                                        <% if (data.category_id=== 1){ %>
                                            ตรวจสุขภาพทั่วไป
                                        <% } else if (data.category_id=== 2){ %>
                                            ทันตกรรม
                                        <% } else if (data.category_id=== 3){ %>
                                            ฉีดวัคซีน
                                        <% } else if (data.category_id=== 4){ %>
                                            ศัลยกรรม
                                        <% } else{%>
                                            บริการสูติศาสตร์
                                        <% }%>
                                    </option>
                                    <option value="1">ตรวจสุขภาพทั่วไป</option>
                                    <option value="2">ทันตกรรม</option>
                                    <option value="3">ฉีดวัคซีน</option>
                                    <option value="4">ศัลยกรรม</option>
                                    <option value="5">บริการสูติศาสตร์</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="Price">ราคา</label>
                                <input type="text" id="price" class="form-control txtbox" value="<%= data.price%>" readonly placeholder="price"
                                name="price">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceDuration">ระยะเวลา</label>
                                <input type="text" id="duration" class="form-control txtbox" value="<%= data.duration%>"
                        readonly placeholder="duration" name="serviceDuration">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="serviceonlydoctor">เฉพาะแพทย์เท่านั้น</label>
                                <select name="serviceonlydoctor" id="serviceonlydoctor" class="form-control txtbox" readonly>
                                    <option value="<%= data.only_doctor%>">
                                        <% if (data.only_doctor=== 'Yes'){ %>
                                            🟢 ใช่
                                        <% } else { %>
                                            🔴 ไม่ใช่
                                        <% } %>
                                    </option>
                                    <option value="No">🔴 ไม่ใช่</option>
                                    <option value="Yes">🟢 ใช่</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="serviceStatus">สถานะ</label><br>
                                <select name="serviceStatus" id="service_status" readonly class="form-control txtbox">
                                    <option value="<%= data.status%>">
                                        <% if (data.status=== 'Active'){ %>
                                            🟢 เปิดให้บริการ
                                        <% } else { %>
                                            🔴 ปิดให้บริการ
                                        <% } %>
                                    </option>
                                    <option value="Inactive">🔴 ปิดให้บริการ</option>
                                    <option value="Active">🟢 เปิดให้บริการ</option>
                                </select><br>
                            </div>
                        </div>

                        <input onclick="toggleEdit()" type="button" value="แก้ไข" class="btn text-white bg-primary">
                        <button class="btn btn-success" type="submit">บันทึก</button>
                        <a class="btn text-white bg-danger" href="/showservices">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </main>

        <%-include("script-toggle-edit")%>
        <%-include("main-content-bottom")%>
        <%-include("script-toggle-sidebar")%>
    </body>
</html>