<%-include("head")%>
<body>
    <%-include("sidebar")%>
    <%-include("main-content-top")%>
    <h1>Doctor Login</h1>
    <form action="/login-staff" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href="/login">Login as patient.</a>
    <%-include("main-content-bottom")%>
    <%-include("script-toggle-sidebar")%>
</body>
</html>