<%-include("head")%>
<script>
    function deletestaff(id) {
        Swal.fire({
            title: "คุณแน่ใจหรือไม่?",
            text: "เมื่อลบแล้วจะไม่สามารถกู้คืนได้!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "ใช่, ลบเลย!",
            cancelButtonText: "ยกเลิก"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/remove-staff/${id}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire("ลบสำเร็จ!", data.message, "success")
                                .then(() => location.reload()); // รีโหลดหน้า
                        } else {
                            Swal.fire("เกิดข้อผิดพลาด!", data.message, "error");
                        }
                    });
            }
        });
    }
</script>
<style>
    .manage-icon i{
        color: rgb(47, 46, 46);
        font-size: 21px;
        text-decoration: none;
    }

    .manage-icon i:hover{
        text-decoration:underline;
        background-color: rgba(0, 0, 0, .1);
    }

    #bin{
        color: rgb(219, 0, 0);
    }
    #edit{
        color: rgb(0, 225, 68);
    }
</style>
<body>
    <%-include("sidebar-owner")%>
    <%-include("main-content-top")%>
    <div class="container">
        <h1>รายชื่อแพทย์</h1>
        <a href="/add-staff %>" class="btn btn-primary my-1">เพิ่มข้อมูลแพทย์</a><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <!-- <th>prename</th>
                    <th>firstname</th>
                    <th>lastname</th> -->   
                    <th>วันที่เข้าทำงาน</th>
                    <th>วันที่ออกจากงาน</th>
                    <th>เบอร์โทรศัพท์</th>
                    <th>ความเชี่ยวชาญ</th>
                    <th>ชื่อผู้ใช้</th>
                    <th>รหัสผ่าน</th>
                    <th>แก้ไขข้อมูล</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item) => { %>
                    <tr>
                        <td><%= item.prename %> <%= item.firstname %> <%= item.lastname %></td>
                        <!-- <td><%= item.firstname %></td>
                        <td><%= item.lastname %></td> -->
                        <td><%= item.hire_date %></td>
                        <td><%= item.retire_date %></td>
                        <td><%= item.contact_number %></td>
                        <td><%= item.name %></td>
                        <td><%= item.username %></td>
                        <td><%= item.password %></td>
                        <td>
                            <p>
                                <a href="/edit-staff/<%= item.doctor_id %>" class="manage-icon"><i class="lni lni-pencil-1" id="edit">&nbsp</i></a>
                                <a onclick="deletestaff('<%= item.doctor_id %>')" class="manage-icon"><i class="lni lni-trash-3" id="bin"></i></a>
                            </p>
                        </td>
                    
                    </tr>
                <% }) %>
            </tbody>
            <script>
                console.log("<%=data%>");
            </script>
        </table>
    </div>
    <%-include("main-content-bottom")%>
    <%-include("script-toggle-sidebar")%>
</body>
</html>