<%-include("head")%>
<style>
    input {
        font-size: 18px;
    }

    .txtbox{
        color: rgb(157, 157, 157);
    }
    .option{
        color: rgb(157, 157, 157);
    }
    .nochange{
        color: rgb(157, 157, 157);
    }

</style>
<body>
    <%-include("sidebar-owner")%>
    <%-include("main-content-top")%>
    <form action="/edit-staff/<%=data[0].doctor_id%>" method="post">
        <input id="username" class="txtbox" name="username" value="<%=data[0].username%>" readonly><br><br>
        <input id="password" class="txtbox" name="password" value="<%=data[0].password%>" readonly><br><br>
        <input id="prename" class="nochange" name="prename" value="<%=data[0].prename%>" readonly><br><br>

        <input id="firstname" class="txtbox" name="firstname" value="<%=data[0].firstname%>" readonly><br><br>
        <input id="lastname" class="txtbox" name="lastname" value="<%=data[0].lastname%>" readonly><br><br>
        <input id="contact_number" class="txtbox" name="contact_number" value="<%=data[0].contact_number%>" readonly><br><br>
        <input type="date" id="retire_date" class="txtbox" name="retire_date" value="<%=data[0].retire_date%>" readonly><br><br>

        <select id="gender" class="option" name="gender" disabled>
            <option value="Male" id="male">Male</option>
            <option value="Female" id="female">Female</option>
        </select>
        <select class="option" name="specialty_id" id="specialty_list" disabled>
            <% specialtyinfo.forEach((item) => { %>
                <option value="<%= item.specialty_id %>" id="<%=item.specialty_id%>"><%= item.name %></option>
            <% }) %>
        </select>
        <input onclick="toggleEdit()" type="button" value="Edit">
        <input type="submit" value="Save">
    </form>
    
    <%-include("main-content-bottom")%>
    <%-include("script-toggle-sidebar")%>
    <%-include("script-toggle-edit")%>
    <script>
        var gender = "<%=data[0].gender%>";
        console.log("gender", gender);
        if(gender == "Male"){
            document.getElementById("male").setAttribute("selected", true);
        }else{
            document.getElementById("female").setAttribute("selected", true);
        }

        document.getElementById("<%=data[0].specialty_id%>").setAttribute("selected", true);
    </script>

</body>
</html>

