<%-include("head")%>
<style>
    input {
        font-size: 18px;
    }

    .txtbox{
        color: rgb(157, 157, 157);
    }

    .option{
        color: rgb(157, 157, 157);
    }
</style>
<body>

    <form action="/profile" method="post">
        <input id="username" class="txtbox" name="username" value="<%=data[0].username%>" readonly><br> <br>
        <select id="prename" class="option" name="prename" disabled>;
            <option value="นาย" id="mister">นาย</option>
            <option value="นางสาว" id="miss">นางสาว</option>
            <option value="เด็กชาย" id="boy">เด็กชาย</option>
            <option value="เด็กหญิง" id="girl">เด็กหญิง</option>
        </select>
        <!-- <input id="prename" class="txtbox" name="prename" value="<%=data[0].prename%>" readonly><br><br> -->
        <input id="firstname" class="txtbox" name="firstname" value="<%=data[0].firstname%>" readonly><br><br>
        <input id="lastname" class="txtbox" name="lastname" value="<%=data[0].lastname%>" readonly><br><br>
        <input id="iden_id" class="txtbox" name="iden_id" value="<%=data[0].iden_id%>" readonly><br><br>
        <input id="contact_number" class="txtbox" name="contact_number" value="<%=data[0].contact_number%>" readonly><br><br>
        <input id="add_contact" class="txtbox" name="add_contact" value="<%=data[0].add_contact_number%>" readonly><br><br>
        <input id="medical_conditions" class="txtbox" name="medical_conditions" value="<%=data[0].medical_conditions%>" readonly><br><br>
        <input id="birth_date" class="txtbox" name="birth_date" value="<%=data[0].birth_date%>" readonly><br><br>
        <!-- <input id="gender" class="txtbox" name="gender" value="<%=data[0].gender%>" readonly> -->
        <select id="gender" class="option" name="gender" disabled>
            <option value="Male" id="male">Male</option>
            <option value="Female" id="female">Female</option>
        </select>
        <input onclick="toggleEdit()" type="button" value="Edit">
        <input type="submit" value="Save">
    </form>

    <%-include("script-toggle-edit")%>
    <script>
        var prename = "<%=data[0].prename%>";
        var gender = "<%=data[0].gender%>";

        if(prename == "นาย"){
            document.getElementById("mister").setAttribute("selected", true);
        }else if(prename == "นางสาว"){
            document.getElementById("miss").setAttribute("selected", true);
        }else if(prename == "เด็กชาย"){
            document.getElementById("boy").setAttribute("selected", true);
        }else{
            document.getElementById("girl").setAttribute("selected", true);
        }

        if(gender == "Male"){
            document.getElementById("male").setAttribute("selected", true);
        }else{
            document.getElementById("female").setAttribute("selected", true);
        }
    </script>

</body>
</html>

