<%-include("head")%>

<body>
    <%-include("sidebar")%>
    <%-include("main-content-top")%>
    <h1>สมัครสมาชิก</h1>
    <br>
    <div class="container">
        <form action="/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">ชื่อบัญชี</label>
                    <input class="form-control" type="text" name="username" placeholder="Username"><br>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">รหัสผ่าน</label>
                    <input class="form-control" type="password" name="password" placeholder="Password"><br>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="prename">คำนำหน้า</label>
                    <select class="form-control" id="prename" name="prename">
                        <option value="นาย">นาย</option>
                        <option value="นางสาว">นางสาว</option>
                        <option value="เด็กชาย">เด็กชาย</option>
                        <option value="เด็กหญิง">เด็กสาว</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="f_name">ชื่อจริง</label>
                    <input class="form-control" type="text" id="f_name" name="firstname" placeholder="Enter your FirstName">
                </div>
                <div class="form-group col-md-5">
                    <label for="l_name">นามสกุล</label>
                    <input class="form-control" type="text" id="l_name" name="lastname" placeholder="Enter your LastName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="gender">เพศ</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="Male">ชาย</option>
                        <option value="Female">หญิง</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="birth_date">วันเกิด</label>
                    <input class="form-control" id="birth_date" type="date" name="birth_date">
                </div>
                <div class="form-group col-md-8">
                    <label for="iden_id">เลขบัตรประจำตัวประชาชน</label>
                    <input class="form-control" id="iden_id" class="txtbox" name="iden_id" placeholder="17499xxxxxxxx" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="contact_number">หมายเลขติดต่อ</label>
                    <input class="form-control" id="contact_number" class="txtbox" name="contact_number" placeholder="062xxxxxxx" >
                </div>
                <div class="form-group col-md-6">
                    <label for="add_contact">หมายเลขติดต่อเพิ่มเติม</label>
                    <input class="form-control" id="add_contact" class="txtbox" name="add_contact" placeholder="094xxxxxxx">
                </div>
            </div>
            <div class="form-group">
                <label for="medical_conditions">ข้อมูลโรคประจำตัว, อาการแพ้ยา และอื่นๆ</label>
                <input class="form-control" id="medical_conditions" class="txtbox" name="medical_conditions" >
            </div>
    
            <input class="btn btn-success" type="submit" value="ลงทะเบียน">
            <a href="/login"><input class="btn btn-danger" type="button" value="ยกเลิก"></a>
        </form>
    </div>
    <%-include("main-content-bottom")%>
    <%-include("script-toggle-sidebar")%>
</body>
</html>