<%-include("head")%>

        <script>
            function deleteService(id) {
                Swal.fire({
                    title: "คุณแน่ใจหรือไม่?",
                    text: "เมื่อลบแล้วจะไม่สามารถกู้คืนได้!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#007bff",
                    confirmButtonText: "ใช่, ลบเลย!",
                    cancelButtonText: "ยกเลิก"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/deleteservice/${id}`)
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire("ลบสำเร็จ!", data.message, "success")
                                        .then(() => location.reload()); // รีโหลดหน้า
                                } else {
                                    Swal.fire("เกิดข้อผิดพลาด!", data.message, "error");
                                }
                            });
                    }
                });
            }
        </script>
        <style>
        
        .grid-item{
            border-radius: 10px;
        }
        .circle {
            margin-right: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            animation: flashColor 2s infinite;
        }

        @keyframes flashColor {

            0%,
            100% {
                background-color: red;
            }

            50% {
                background-color: rgb(254, 194, 194);
            }
        }

        .circle2 {
            margin-right: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            animation: flashColor2 2s infinite;
        }

        @keyframes flashColor2 {

            0%,
            100% {
                background-color: rgb(0, 255, 0);
            }

            50% {
                background-color: rgb(197, 255, 197);
            }
        }

        .flex {
            display: flex;
            align-items: center;
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }
        @media (max-width: 1200px){
            .grid{
                grid-template-columns: repeat(3, 1fr);
            }
        }
        @media (max-width: 900px){
            .grid{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (max-width: 600px){
            .grid{
                grid-template-columns: 1fr;
            }
        }
        .dropshadow{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
            /* filter: drop-shadow(1px 1px 20px black); */
        }
        .add:hover{
            background-color : #dedada;
            color: white;
            transform: scale(0.98);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
          }
    </style>

    <body>
        <%-include("sidebar-owner")%>
        <%-include("main-content-top")%>
                    <h1>รายการบริการ</h1>
                    <div class="grid mx-5">
                        <% data.forEach((item)=> { %>
                            <div class="grid-item border p-3 dropshadow">
                                <p>รหัส : <%= item.service_id%></p>
                                <p>ชื่อบริการ : <%= item.name%></p>
                                <p>ประเภท: <%= item.category_name%></p>
                                <p>ราคา : <%= item.price%> บาท</p>
                                <p>ระยะเวลา : <% if (item.duration >= 60) { %>
                                    <%=( Math.floor( item.duration / 60) )%> ชั่วโมง
                                <% } %>
                                <%=( Math.floor( item.duration % 60) )%> นาที</p>
                                <div class="flex">
                                    <% if (item.status==='Active' ) { %>
                                        <div class="circle2"></div> เปิดให้บริการ
                                    <% } else { %>
                                        <div class="circle"></div> ปิดให้บริการ
                                    <% } %>
                                </div>
                                <div class="icon py-2">
                                    <a href="/showservices/<%= item.service_id%>" class="btn border"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg></a>
                                    <button onclick="deleteService('<%= item.service_id%>')" class="btn border"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M8.586 18 12 21.414 15.414 18H19c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h3.586zM5 4h14v12h-4.414L12 18.586 9.414 16H5V4z"></path><path d="M9.707 13.707 12 11.414l2.293 2.293 1.414-1.414L13.414 10l2.293-2.293-1.414-1.414L12 8.586 9.707 6.293 8.293 7.707 10.586 10l-2.293 2.293z"></path></svg></button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="d-flex flex-row justify-content-end fixed-bottom mx-3 my-3">
                        <a href="/add" class="btn border add"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M16 2H8C4.691 2 2 4.691 2 8v13a1 1 0 0 0 1 1h13c3.309 0 6-2.691 6-6V8c0-3.309-2.691-6-6-6zm4 14c0 2.206-1.794 4-4 4H4V8c0-2.206 1.794-4 4-4h8c2.206 0 4 1.794 4 4v8z"></path><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path></svg></a>
                    </div>
        <%-include("main-content-bottom")%>
        <%-include("script-toggle-sidebar")%>
    </body>
</html>