<%-include("head")%>
    <style>
        .circle {
            margin-right: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            animation: flashColor 2s infinite;
        }

        @keyframes flashColor {

            0%,
            100% {
                background-color: red;
            }

            50% {
                background-color: rgb(254, 194, 194);
            }
        }

        .circle2 {
            margin-right: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            animation: flashColor2 2s infinite;
        }

        @keyframes flashColor2 {

            0%,
            100% {
                background-color: rgb(0, 255, 0);
            }

            50% {
                background-color: rgb(197, 255, 197);
            }
        }

        .flex {
            display: flex;
            align-items: center;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        @media (max-width: 1200px) {
            .grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media (max-width: 900px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 600px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }
        .grid-item{
            border-radius: 10px;
        }

        .dropshadow{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
            /* filter: drop-shadow(1px 1px 20px black); */
        }
    </style>

    <body>
        <%-include("sidebar")%>
            <%-include("main-content-top")%>
                <h1>รายการบริการ</h1>
                <div class="grid mx-5">
                    <% data.forEach((item)=> { %>
                        <div class="grid-item border p-3 dropshadow">
                            <p>ชื่อบริการ : <%= item.service_name%></p>
                            <p>ประเภท: <%= item.category_name%></p>
                            <p>ราคา : <%= item.price%> บาท</p>
                            <p>ระยะเวลา : <% if (item.duration>= 60) { %>
                                    <%=( Math.floor( item.duration / 60) )%> ชั่วโมง
                                        <% } %>
                                            <%=( Math.floor( item.duration % 60) )%> นาที</p>
                            <p>จองได้ด้วยตนเอง : <%=(item.only_doctor == "Yes") ? "❌" : "✅"%></p>
                            <div class="flex">
                                <% if (item.status==='Active' ) { %>
                                    <div class="circle2"></div> เปิดให้บริการ
                                    <% } else { %>
                                        <div class="circle"></div> ปิดให้บริการ
                                        <% } %>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <%-include("main-content-bottom")%>
                <%-include("script-toggle-sidebar")%>
    </body>

    </html>